/*
  \-------------------------------------/
             SITE-HEADER
  /-------------------------------------\
*/

.site-header {
  padding-bottom: 10px;
  position: relative;
}

.site-header__logo {
  ::selection {
    color: darkmagenta;
    background: lightgreen;
  }
  color: black;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 5px;
  @include tablet {
    display: inline-block;
    text-align: left;
    float: left;
  }
}

.site-header__description {
  color: darkmagenta;
  font-weight: bold;
  font-size: 15px;
  @include tablet {
    display: inline-block;
    position: absolute;
    bottom: 30%;
    margin-left: 1%;
    letter-spacing: 3px;
  }
}

