/*
  \-------------------------------------/
             site-body
  /-------------------------------------\
*/
.site-body {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20px;
  @include desktop {
    max-width: 1090px;
    margin: 20px auto;
    padding: 0 20px;
  }

}
