/*
  \-------------------------------------/
             variables
  /-------------------------------------\
*/
$main_mkrn_color: #36ff76;
$darker_mkrn_color: darken($main_mkrn_color, 30%);
//$main_font_family: "SourceSansPro", monospace;

// media query brake points
$large-poster-width: 430px;
$tablet-width: 768px;
$desktop-width: 1090px;

/*
  \-------------------------------------/
             MIXINS
  /-------------------------------------\
*/
@import 'helpers/mixins';

/*
  \-------------------------------------/
             HELPERS
  /-------------------------------------\
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.is-hidden {
  display: none !important;
}

.is-block {
  display: block !important;
}

.is-frozen {
  overflow: hidden !important;
}

.third {
  float: left;
  width: 33%;
}

.two-thirds {
  float: left;
  width: 66%;
}

/*
  \-------------------------------------/
             Main styles
  /-------------------------------------\
*/
@import 'helpers/reset';

html {
  font-size: 62.5%;
  //  color: $main_mkrn_color;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  //  color: darkmagenta;
  //  background: lightgreen;
}

.site-body {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20px;
  @include desktop {
    max-width: 1090px;
    margin: 20px auto;
    padding: 0 20px;
  }

}

/*
  \-------------------------------------/
             ~~~ COMPONENTS ~~~
  /-------------------------------------\
*/
@import './components/Header/Header';
@import './components/MainSelector/MainSelector';
@import './components/MainSelector/CreateForm/CreateFrom';
@import './components/MainSelector/ItemsList/ItemsList';
@import './components/MainSelector/MainSelector';
