/*
  \-------------------------------------/
             SITE-HEADER
  /-------------------------------------\
*/

.description {
  padding-top: 100px;
}

.features-list {
  list-style: none;
  width: 70%;
  margin: 0 auto;
  li {
    font-size: 15px;
    letter-spacing: 5px;
    color: darkmagenta;
    padding: 20px;
    border-bottom: 1px solid $darker_mkrn_color;
  }
}

